    <div class="row">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="header-icon"><a href="/"><img src="https://crowdsourcedscores.files.wordpress.com/2016/11/cropped-css-logo-footballleft-webres-1300px.jpg?w=520" alt="Crowd Wisdom Sports"></a></div>
                <div class="navbar-header"><a href="/" class="navbar-brand"><span class="hidden-md">Crowd Wisdom Sports</span><span class="visible-md">CW Sports</span></a>
                <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    {{#ifCond sport '!==' 'nfl'}}
                        <li><a href="/?sport=nfl">NFL</a></li>
                    {{/ifCond}}
                    {{#ifCond sport '!==' 'ncaaf'}}
                        <li><a href="/?sport=ncaaf">College Bowls</a></li>
                    {{/ifCond}}
                    {{#ifCond sport '!==' 'ncaam'}}
                        <li><a href="/?sport=ncaam">March Madness</a></li>
                    {{/ifCond}}
                    <li><a href="https://blog.crowdsourcedscores.com/" target="blog">Blog</a></li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="leaderboards">Leaderboards<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="text-align: center"><a href="/crowd.html"><span class="glyphicons glyphicons-group"></span> Crowds</a></li>
                            <li style="text-align: center"><a href="/leaderboard.html"><span><i class="glyphicon glyphicon-user"></i></span> Users</a></li>
                        </ul>
                    </li>
                    {{#if userInformation}}
                        <li style="text-align: center"><a href="/profile.html"><span><i class="glyphicon glyphicon-user"></i></span> {{userInformation.attributes.preferred_username}}</a></li>
                    {{/if}}
                    
                </ul>
                </div>
            </div>
        </div>
    </div>