    <div class="row">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="header-icon"><a href="/"><img src="https://crowdsourcedscores.files.wordpress.com/2016/11/cropped-css-logo-footballleft-webres-1300px.jpg?w=520" alt="Crowd Wisdom Sports"></a></div>
                <div class="navbar-header"><a href="/" class="navbar-brand"><span class="hidden-md">Crowd Wisdom Sports</span><span class="visible-md">CW Sports</span></a>
                <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    {{#ifCond sport '!==' 'nfl'}}
                        <li class="active"><a href="#">NFL</a></li>
                    {{/ifCond}}
                    {{#ifCond sport '===' 'ncaaf'}}
                        <li class="active"><a href="?sport=ncaaf">College Bowls</a></li>
                    {{/ifCond}}
                    <li><a href="https://blog.crowdsourcedscores.com/" target="blog">Blog</a></li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="leaderboards">Leaderboards<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="text-align: center"><a href="/crowd.html"><span class="glyphicons glyphicons-group"></span> Groups</a></li>
                            <li style="text-align: center"><a href="/leaderboard.html"><span><i class="glyphicon glyphicon-user"></i></span> Users</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="podcasts"><i class="fa fa-headphones" aria-hidden="true"></i> Podcast<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="text-align: center">
                                <a target="_blank" href="https://itunes.apple.com/us/podcast/the-crowd-wisdom-sports-podcast/id1331165617?mt=2" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/podcast-lrg.svg) no-repeat;width:133px;height:34px;background-size:contain;"><span style="height: 34px; width:133px; padding: 16px 0"></span></a>
                            </li>
                            <li style="text-align: center">
                                <a href="https://www.stitcher.com/s?fid=162919&refid=stpr"><img src="https://secureimg.stitcher.com/promo.assets/stitcher-banner-88x31.jpg" width="88" height="31" alt="Listen to Stitcher"></a>
                            </li>
                            <li style="text-align: center">
                                <a target="_blank" href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ikd4ilzctaypo3idfl2admka4ve?t%3DThe_Crowd_Wisdom_Sports_Podcast%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow'><img width='125px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>
                            </li>
                        </ul>
                    </li>
                    {{#if userInformation}}
                        <li style="text-align: center"><a href="/profile.html"><span><i class="glyphicon glyphicon-user"></i></span> {{userInformation.attributes.preferred_username}}</a></li>
                    {{/if}}
                    
                </ul>
                </div>
            </div>
        </div>
    </div>