@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700");
        /* rgb(215, 40, 46) */
        
        body {
            background-color: rgb(50, 62, 73);
            color: rgb(256, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
        }
        a {
            color: #b42135;
        }
        .titleRow {
            width: 100%;
            margin: 15px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column
        }
        .signUpButton {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px auto;
            font-size: 1.5em;
            text-align: center;
            background-color: red
        }
        .gameRow {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
        .sellImage img {
            position: relative; left: 50%;
            transform: translate(-50%, 0%);
            margin-left: auto;
            margin-right: auto;
            max-width: 90%;
            height: auto;
            margin-top: 20px;
        }
        .sellText {
            margin: 5px 12px;
        }
        .mailchimp {
            color: rgb(50, 62, 73);
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        #mc_embed_signup {
            border-radius: 12px;
            /* font-family: 'Roboto Condensed', sans-serif; */
        }
        #mc-embedded-subscribe {
            background-color: #124734;
        }
        .row {
            margin-bottom: 10px;
        }
        .footer a {
            margin: 0 12px;
        }

        .gameRow {
            border: 1px solid #fff;
            border-radius: 5px;
        }

        @media(min-width: 768px) {
            .row {
                display: flex;
                flex-direction: row;
                /* align-items: center; */
                justify-content: center;
                margin: 10px 0;
                padding: 30px 0;
            }

            .row > .col-sm-6 {
                margin: 0 3px;
            }
        }
        @media(max-width: 767px) {
            .titleRow img {
                max-width: 80%;
                height: auto;
            }
            .row {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .modal-wrapper { 
            width: 100%; 
            height: 100%; 
            min-height: 100%; 
            position: absolute; 
            top: 0; 
            left: 0; 
            background-color: rgba(0,0,0,.7); 
            transition: .4s; 
            visibility: hidden; 
            opacity: 0; 
            z-index: 100;
        }
        
        .modal-content { 
            max-width: 800px;
            /* width: 100%; */
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 10;
            background-color: #fff;
            border-radius: 8px;
            color: #000;
        }
        
        .modal-opened { 
            opacity: 1; 
            visibility: visible;
        }
        
        .relative {
            position: relative;
            padding: 32px 16px;
        }

        
        .btn {
            border: none;
            cursor: pointer;
            outline: none;
        }

        .btn-open {
            background-color: #337357;
            color: #E4E3D3;
            font-size: 15px;
            border-radius: 4px;
            padding: 8px 16px;
        }

        .btn-close {
            font-size: 30px;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            position: absolute;
            right: -15px;
            top: -15px;
            line-height: 16px;
            background-color: #333;
            color: #fff;
        }