/dns/types/*
/aio*
/anyio*
/attr/*
/backoff*
/attrs*
/bson*
/certifi*
/certifi-*
/charset_normalizer*
/charset_normalizer-*
/coverage*
/coverage-*
/distlib*
/dns*
/dns-*
/entrypoints*
/fastapi*
/fastapi-*
/fake_useragent*
/gql*
/graphql*
/frozenlist*
/grpc*
/grpcio*
/grpcio-*
/h11*
/h2*
/hpack*
/hpack-*
/hyperframe*
/hyperframe-*
/idna*
/idna-*
/immutables*
/immutables-*
/itsdangerous*
/itsdangerous-*
/jinja2*
/jinja2-*
/markupsafe*
/markupsafe-*
/packaging*
/packaging-*
/pydantic*
/pydantic-*
/pymongo*
/pymongo-*
/pyrsistent*
/pyrsistent-*
/pytest*
/pytest-*
/requests*
/requests-*
/setuptools*
/setuptools-*
/six*
/six-*
/sniffio*
/typing_extensions*
/typing_extensions-*
/bin*
/gridfs*
/multidict*
/multidict-*
/pytest_asyncio*
/propcache*
/pytz*
/urllib3*
/yaml*
/yarl*
/pyyaml*