
        /* rgb(215, 40, 46) */
        
        body {
            background-color: rgb(50, 62, 73);
            color: rgb(256, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'mono45-headline', 'monospace';
            font-style: normal;
            font-weight: 500
        }
        a {
            color: #b42135;
        }
        .titleRow {
            width: 100%;
            margin: 15px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column
        }
        .signUpButton {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px auto;
            font-size: 1.5em;
            text-align: center;
            background-color: red
        }
        .sellImage img {
            position: relative; left: 50%;
            transform: translate(-50%, 0%);
            margin-left: auto;
            margin-right: auto;
            max-width: 70%;
            height: auto;
            margin-top: 20px;
        }
        .sellText {
            margin: 0 12px;
        }
        .mailchimp {
            color: rgb(50, 62, 73);
            background-color: #fff;
            border-radius: 5px;
        }
        #mc_embed_signup {
            border-radius: 12px;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .row {
            margin-bottom: 10px;
        }
        .footer a {
            margin: 0 12px;
        }

        .gameRow {
            border: 1px solid #fff;
            border-radius: 5px;
        }

        @media(min-width: 768px) {
            .row {
                display: flex;
                flex-direction: row;
                /* align-items: center; */
                justify-content: center;
                margin: 10px 0;
                padding: 30px 0;
            }

            .row > .col-sm-6 {
                margin: 0 3px;
            }
        }
        @media(max-width: 767px) {
            .titleRow img {
                max-width: 80%;
                height: auto;
            }
            .row {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                margin-right: 10px;
            }
        }