.ARI .primary {
    background-color: #97233F;
    color: #fff;
}

.ARI .secondary {
    background-color: #FFB612;
    color: #000;
}

.ATL .primary {
    background-color: #A71930;
    color: #000;
}

.ATL .secondary {
    background-color: #000000;
    color: #fff;
}

.BAL .primary {
    background-color: #241773;
    color: #fff;
}

.BAL .secondary {
    background-color: #000;
    color: #fff;
}

.BUF .primary {
    background-color: #00338D;
    color: #fff;
}

.BUF .secondary {
    background-color: #C60C30;
    color: #000;
}

.CAR .primary {
    background-color: #0085CA;
    color: #000;
}

.CAR .secondary {
    background-color: #101820;
    color: #fff;
}

.CHI .primary {
    background-color: #0B162A;
    color: #fff;
}

.CHI .secondary {
    background-color: #C83803;
    color: #000;
}

.TEN .primary {
    background-color: #002A5C;
    color: #fff;
}

.TEN .secondary {
    background-color: #4495D1;
    color: #000;
}



